{% extends "jea/base.html" %}
{% load static %}

{% block "content" %}

<div class="logo-container">
  <img src="{% static 'jea/assets/img/ix-api-logo.svg' %}"
       alt="IX-API logo"
       title="The logo of the IXP API project" />
</div>

<div class="partners-container">
  <a href="https://de-cix.net/">
    <img src="{% static 'jea/assets/img/decix.jpeg' %}"
         class="logo-partner logo-decix"
         alt="DE-CIX logo"
         title="The logo of the DE-CIX Internet Exchange" />

  </a>
  <a href="https://ams-ix.net/">
    <img src="{% static 'jea/assets/img/amsix.png' %}"
         class="logo-partner logo-amsix"
         alt="AMS-IX logo"
         title="The logo of the AMS-IX Internet Exchange" />

  </a>
  <a href="https://linx.net/">
    <img src="{% static 'jea/assets/img/linx.png' %}"
         class="logo-partner logo-linx"
         alt="linx logo"
         title="The logo of the linx Internet Exchange" />

  </a>
</div>

<p>
  Where to you want to go today?
  <ul>
   <li><a href="/admin">Admin Interface</a></li>
   <li><a href="/api/v2">Api v2</a></li>
   <li><a href="https://docs.ix-api.net">Schema Documentation</a></li>
  </ul>
</p>

{% endblock %}

